$color-main-black:#36454F;
$font-size-large:1.5rem;

.header_container{
  position: sticky;
  top: 0;  
  width: 100%;
  height: 5rem;
  background-color:$color-main-black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: $font-size-large;  

  .header_left-side{
    display: flex;

    span{
      margin-right: 1rem;
    }
  }
}