.editeModeFix {
  margin-bottom: 0 !important;
  width: 100% !important;
}
  
.toolbarBtn {
  border: none;
  font-size: 1.5rem;
}
  
.buttonsBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ui.segment{
  width: 65%;
}